{% extends "admin/layout.html" %}
{% set active_page = 'admin_songrequest' %}
{% block title %}Songrequest{% endblock %}
{% block body %}
<link rel="stylesheet" href="/static/css/songrequest-websocket.css">

<div class="main-container container">
    <div class="d-flex flex-column">
      <div class="p-2">
        <div class="d-flex justify-content-between">
          <div class="p-2">
            <div id="video_player"></div>
          </div>
          <div class="p-2">
            <div class="info">
              <p id="status" class="status font-weight-bold" ></p>
              <p id="songname" class="songname font-weight-bold"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">  <image id="image0" width="30" height="30" x="0" y="0"
                href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
            AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABs1BMVEUAAAC/QEDGQkLGRETH
            QkLHQkLKRkbKR0fJRkbJRkbJRkbJRUXIRETIRUXKR0fJRkbJRUXHRETIRETMMzPIRETOTU3VWlrb
            ZWXjb2/jbm7cZGTVWVnMTEzHQ0PJQ0PEOzvIREToeXnpeHjHRETDPDzHQ0PTV1fSVFTHQ0PJRUXd
            Z2fHRETMSkrodnbIRETLS0vIRkbMSkrJRkbKSUnJRUXLSEjIRETIRUXKSEjIRkbLSUnKRkbLSkrK
            RkbKSUnJRUXHQkLdZ2fgaWnHQ0PHRETSVVXUVlbIQkLpeXnpeXm/QEDIRETIRUXNTU3WW1vdZmbd
            Z2fYXFzOTU3HRUXHQUGqVVXFQ0PHQ0PIRkbLSEjJR0fKSUnIR0fJRkbJRkbIRUXKRkbJR0fLSEjK
            SEjLSEjIRkbpeXntf3/vg4PziYn0iYn1jIz3j4/2jo7ziIjxhYXugYHoeHjeaGjlc3Pqe3v94eH4
            o6PugIDtfn7//////f380tL4mJjwhITvgoL++Pj7w8P3kpLxhob+7u76tLT1jY35sLDyh4f939/4
            oaHsfX3ndXXib2/uf3/vhITsfn7jcHD+KXeUAAAAZnRSTlMABDpee5a609rm7fT97tnTuHw8BeTm
            5u369+rj4uQ9Dev35ekRV+7YX4XpiLP8sNLW3eTn8O77+ebu3OHP0q6ugPr2hVbq5V359xA45Ovw
            +fnv6uU7Azl6mr/W3env9fbv6d7XwJ118AejAAAAAWJLR0R5odzU0AAAAAd0SU1FB+QCGwQXNnHp
            yRkAAAEWSURBVCjPY2AY1ICRiZmFlY2dg5OLm4eHm5eTj1+AVZBZSBgiyyQiKiYukZaekZmVnZOb
            lZdfkF4oKSUtIysHkpVXUMzBCpSUVYDSqmo5OIC6BlBaswiXtJY2UFqnGJe0rh5QWr8EIVBahixd
            bgCUNqxACFRWVdcgeLVGQGnjOiTpysr6hkYYL9MEKG3ahCJdWdncAuW1mmGVboPyss2B0hY4DW+3
            BEpb4XRanTVQ2gbJYx2dyB7rsgVK2+EMlm57oLSDIy5pJ2egtIsrLmk3d3CEemCX9VTwAkW4t4+v
            n39PYVdvbXtWbk52Vl5ff+GEgMCg4BBIcgkNcw+PiIyKjomN4+GJT0hMSk5JZWEOYRzoRI4fAADE
            Ac9/AVHJMwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMC0wMi0yN1QxMToyMzo1NC0wNzowMFUOw1MA
            AAAldEVYdGRhdGU6bW9kaWZ5ADIwMjAtMDItMjdUMTE6MjM6NTQtMDc6MDAkU3vvAAAAAElFTkSu
            QmCC" />
            </svg> <span id="song_title"></span></p>
              <p id="url" class="url font-weight-bold">from url <a href=""></a></p>
            </div>
          </div>
          <div class="p-2 ml-auto">
            <button id="video_showing_state" type="button" class="btn btn-link font-weight-bold show-video">Show Video</button>
          </div>
          <div class="p-2">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Settings
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a id="requests_open_state" class="dropdown-item" href="#">Disable Requests</a>
                <a id="backup_playlist_usage_state" class="dropdown-item" href="#">Disable Backup Playlist</a>
                <a class="dropdown-item" href="#">Go to Settings</a>
              </div>
            </div>              
          </div>
        </div>
      </div>
      <div class="p-2">
        <div class="d-flex justify-content-center">
          <div class="p-2">
            <div class="controls-player">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary control" id="control_previous">Previous</button>
                <button type="button" class="btn btn-secondary control" id="control_state">Pause</button>
                <button type="button" class="btn btn-secondary control" id="control_next">Next</button>
              </div>
            </div>
          </div>
          <div class="p-2 align-self-center ml-auto" style="flex: 0.65!important">
            <div class="progress" id="videotime">
              <div class="progress-bar custom-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="p-2 align-self-center">
            <span id="videocurrenttime">0:00</span>
          </div>
          <div class="p-2 ml-auto align-self-center">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">  <image id="image0" width="24" height="24" x="0" y="0"
              href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
            AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElN
            RQfkAhsDDAgc8QmtAAAA/0lEQVQ4y9XSPS+DURjG8V8RsdjEKgY+hNAIc+0GaQxiFokaO3fwYbpj
            IBKbGPgEXpuwdKF9ntvQetqS9ukm7jOc5Jzrf51zv/Bvogqabu2OJw8QQmgo5ss7wJ5LiZCOeqfa
            9f2OJY9CanW4vJ0BdZuY9iC8D5fXMiCkKliQCAc9YWSrraaUARWfQhFnwv1voCMv9eVwKJxiW/iA
            Qhdgq+9r9exmTkPTrHkvnbOJnI4Uuvtk19bUgGvixMUAUMY11tHKT/pYS2oN58LdeGU9wuLPsg5v
            3AZmPAlv447GsmchtTK8Mr3h23clFRLl0cUcHO/XUe49BJpu7OSL/zi+ADnohNFdfvAXAAAAJXRF
            WHRkYXRlOmNyZWF0ZQAyMDIwLTAyLTI3VDEwOjEyOjA4LTA3OjAwcfhz+QAAACV0RVh0ZGF0ZTpt
            b2RpZnkAMjAyMC0wMi0yN1QxMDoxMjowOC0wNzowMACly0UAAAAASUVORK5CYII=" />
            </svg>
          </div>
          <div class="p-2 align-self-center" style="flex: 0.25!important">
            <div class="progress" id="volume">
              <div class="progress-bar custom-progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="nav nav-tabs" id="queues" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#currentqueue" role="tab" aria-controls="currentqueue" aria-selected="true">Current Queue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#historyqueue" role="tab" aria-controls="historyqueue" aria-selected="false">History Queue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#backupqueue" role="tab" aria-controls="backupqueue" aria-selected="false">Backup Queue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#likedqueue" role="tab" aria-controls="likedqueue" aria-selected="false">Liked Songs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#bannedqueue" role="tab" aria-controls="bannedqueue" aria-selected="false">Banned Songs</a>
      </li>
    </ul>
    <div class="tab-content" id="queuesContent">
      <div class="tab-pane fade show active" id="currentqueue" role="tabpanel" aria-labelledby="currentqueue-tab">
        <table class="table table-striped table-borderless">
          <tbody id="currentqueuebody">
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="historyqueue" role="tabpanel" aria-labelledby="historyqueue-tab"><table class="table table-striped table-borderless">
        <tbody id="historybody">
        </tbody>
      </table></div>
      <div class="tab-pane fade" id="backupqueue" role="tabpanel" aria-labelledby="backupqueue-tab">
        <table class="table table-striped table-borderless">
            <tbody id="backupqueuebody">
            </tbody>
          </table>
      </div>
      <div class="tab-pane fade" id="likedqueue" role="tabpanel" aria-labelledby="likedqueue-tab">likedqueue</div>
      <div class="tab-pane fade" id="bannedqueue" role="tabpanel" aria-labelledby="bannedqueue-tab">bannedqueue</div>
    </div>
  </div>
{% endblock %}
{% block footer %}
<script type="text/javascript">
    var ws_host = '{{ site.songrequestWS.host }}';
    var auth = '{{ token_access }}';
</script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/scripts/songrequest-websocket.js"></script>
{% endblock %}